@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Tahoma, sans-serif;
    --font2: "Passion One", serif;
    --font3: "Sriracha",serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%vh ;
    background-color: darkgray;
    font-family: var(--font1);
    font-size: 1.1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    text-transform: uppercase;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 4em;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--font3);
}

a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    color: black;
    line-height: 2em;
}

section.normal > p {
    padding-bottom: 2em;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    padding-left: 0px;
    box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.336);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.356) ;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}